<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="header" class="top">
    <a href="/">
        <img src="https://www.eventim.pl/obj/media/PL-eventim/galery/222x222/as/plusliga.jpg" alt="">
    </a>
    <div>
        <div class="links">
            <a href="/table">Tabela</a>
        </div>
    </div>
    <div>
        <div class="links">
            <a href="/teams">Drużyny</a>
        </div>
    </div>
    <div>
        <div class="links">
            <a href="/players">Zawodnicy</a>
        </div>
    </div>
    <div>
        <div class="links">
            <a href="/addTeam">Dodaj drużyne</a>
        </div>
    </div>
    <div>
        <div class="links">
            <a href="/players/addPlayer">Dodaj zawodnika</a>
        </div>
    </div>
</div>

<div th:fragment="footer" class="footer">
    <a href="/">
        <img src="https://www.eventim.pl/obj/media/PL-eventim/galery/222x222/as/plusliga.jpg" alt="">
    </a>
    <div>
        <div class="links">
            <a href="/table">Tabela</a>
        </div>
    </div>
    <div>
        <div class="links">
            <a href="/teams">Drużyny</a>
        </div>
    </div>
    <div>
        <div class="links">
            <a href="/players">Zawodnicy</a>
        </div>
    </div>
    <div>
        <div class="links">
            <a href="/addTeam">Dodaj drużyne</a>
        </div>
    </div>
    <div>
        <div class="links">
            <a href="/addPlayer">Dodaj zawodnika</a>
        </div>
    </div>
</div>

</body>
</html>